.footer {
    margin-top: 5rem;
    border-top: 1px solid #f2f2f2;
    padding: 24px 15px;
    p {
        text-align: center;
        font-size: 14px;
        color: #999;
        line-height: 1.6;
        letter-spacing: 0.23px;
    }
    .copyright {
        margin-bottom: 10px;
    }
}