body {
    font-family: Roboto, sans-serif;
}

.header__menu li a {
    transition: 0.25s;
}

.menu__tablet {
    .header__menu {
        .menu__item {
            margin-bottom: 20px;
        }
    }
}
.header {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
    z-index: 10;
    border-bottom: 1px solid rgb(242, 242, 242);
    background-color: rgb(255, 255, 255);
}

.header__logo:hover a {
    color: #FB9236;
}

.menu__tablet-layout {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.header__search {
    display: flex;
    height: 47px;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
    border-radius: 5px;
    margin-left: 17px;
}

.search__item {
    height: 100%;
    line-height: 47px;
    position: relative;
}

.search__item::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: rgb(231, 231, 231);
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.search__guest::after {
    content: none;
}

.search__box {
    padding: 0px 16px;
}

.search__box i {
    color: rgb(145, 145, 145);
    margin-right: 5px;
    font-size: 14px;
}

.search__box input {
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 14px;
    width: 80%;
}

.search__date {
    padding: 0px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.search__date i {
    margin-right: 10px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.header__menu li button {
    outline: none;
    cursor: pointer;
}

.search__guest {
    padding: 0px 10px 0px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.search__guest button {
    height: 80%;
    padding: 0px 21px;
    background-color: rgb(85, 85, 85);
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    cursor: pointer;
    outline: none;
}

.search__guest button i {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.search__guest i {
    color: rgb(102, 102, 102);
    margin-right: 5px;
}
.search__guest .guest {
    cursor: pointer;
}

.header__logo {
    width: 60px;
    height: 60px;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    display: flex;
    transition: all 0.5s ease 0s;
}

.header__logo a {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo a svg {
    transition: 0.5s;
    width: 80%;
    height: 80%;
}

.header__logo a:hover svg {
    fill: rgb(246, 94, 57);
}

.header__btn--nav {
    display: none;
}

.header__btn--close {
    display: none;
}

#check {
    display: none;
}

.menu__item {
    margin-left: 20px;
}

@media screen and (min-width: 740px) and (max-width:1113px) {
    
    .header {
        display: flex;
        justify-content: center;
    }
    .header__menu {
        display: none;
    }
    .menu__tablet {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 100vh;
        width: 40vw;
        transition: 0.25s;
        transform: translateX(-100%);
    }
    
    #check:checked~.menu__tablet-layout {
        display: block;
    }
    #check:checked~.menu__tablet {
        transform: translateX(0);
    }
    .header__btn--nav {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 30px;
    }
    .header__btn--close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 20px;
        display: block;
    }
    .menu__tablet .header__menu {
        list-style: none;
        display: block;
        margin-top: 40px;
    }
    .menu__tablet .header__menu li a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }
    .menu__tablet .header__menu li button {
        width: 85%;
        display: flex;
        align-items: center;
        height: 35px;
        position: relative;
        border-radius: 15px;
        border: none;
    }
    .menu__tablet .header__menu li button i {
        position: absolute;
        right: 10px;
    }
    .menu__tablet .header__menu li button img {
        height: 24px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .menu__tablet .header__menu li a:hover {
        color: #FB9236;
    }
    .menu__item--dot {
        position: relative;
        font-weight: bold;
    }
    .menu__item--dot::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FB9236;
        /* z-index: 1; */
        position: absolute;
        top: -3px;
        left: 40px;
    }
    .menu__item {
        margin-top: 10px;
    }
}

@media (max-width: 740px) {
    
    .header__logo a {
        width: 100%;
        height: 100%;
    }
    .header__logo {
        width: 42px;
        height: 42px;
    }
    
    .header__search {
        display: none;
    }
    .menu__tablet {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 100vh;
        width: 50vw;
        transition: 0.25s;
        transform: translateX(-100%);
    }
    
    #check:checked~.menu__tablet-layout {
        display: block;
    }
    #check:checked~.menu__tablet {
        transform: translateX(0);
    }
    .header__btn--nav {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 30px;
    }
    .header__btn--close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 20px;
        display: block;
    }
    .menu__tablet .header__menu {
        list-style: none;
        display: block;
        margin-top: 40px;
    }
    .menu__tablet .header__menu li a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }
    .menu__tablet .header__menu li button {
        width: 85%;
        display: flex;
        align-items: center;
        height: 35px;
        position: relative;
        border-radius: 15px;
        border: none;
    }
    .menu__tablet .header__menu li button i {
        position: absolute;
        right: 10px;
    }
    .menu__tablet .header__menu li button img {
        height: 24px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .menu__tablet .header__menu li a:hover {
        color: #FB9236;
    }
    .menu__item--dot {
        position: relative;
        font-weight: bold;
    }
    .menu__item--dot::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FB9236;
        /* z-index: 1; */
        position: absolute;
        top: -3px;
        left: 40px;
    }
    .menu__item {
        margin-top: 10px;
    }
    .header__menu {
        display: none;
    }
}

@media (min-width: 1113px) {
    
    .menu__tablet .header__menu {
        display: none;
    }
    .header__menu {
        display: flex;
        list-style: none;
        position: absolute;
        right: 45px;
        height: 47px;
        /* border: 1px solid black; */
        line-height: 47px;
    }
    .menu__item a {
        text-decoration: none;
        color: #000000;
        font-size: 14px;
        font-weight: bold;
        transition: 0.25s;
    }
    .menu__item:hover a {
        color: #FB9236;
    }
    .menu__item--dot {
        position: relative;
    }
    .menu__item--dot::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FB9236;
        /* z-index: 1; */
        position: absolute;
        top: 9px;
        right: -8px;
    }
    .menu__button,
    .menu__button button {
        display: flex;
        align-items: center;
    }
    .menu__button button {
        padding: 6px 6px 6px 3px;
        border-radius: 100px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .menu__button button img {
        height: 24px;
        margin: 0 9px 0 3px;
    }
    .menu__button button i {
        margin: 0 5px 0 5px;
    }
}