@media (max-width: 1024px) {
    .content {
        .detail {
            margin: 0 20px;
        }

        .after-content {
            margin: 24px 20px 0;

            .heading {
                margin-bottom: 20px;
            }
        }

    }
    .container {
        .buy {
            display: flex;
        }
    }
    .banner {
        height: 260px;

        &__btn {
            display: none;
        }
    }
}

@media (max-width: 740px) {
    .container {
        .buy {
            display: flex;
        }
    }
    
    .content {
        .slick-track {
            width: 100%;
        }
    }

    .detail__more-utilities {
        display: none;
    }

    .banner {
        height: 130px;
        
        &__btn {
            display: none;
        }

        &__gallery {
            display: none;
        }
    }
    .detail__left {
        .section {
            .detail__more-utilities--mobile {
                display: block;
            }
            .detail__policy {
                .cancellation__process {
                    div::before {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .content {
        .detail {
            max-width: calc(1100px + 5.6rem);
            padding: 0 2.8rem;
            margin: auto;
            
            .slick-track {
                width: 45%;
            }
        }

        .after-content {
            margin: 24px 75px 0;

            .heading {
                margin-bottom: 20px;
            }
        }
    }

    .container {
        .buy {
            display: none;
        }
    }

    .banner {
        height: 420px;

        &__btn {
            display: flex;
        }

        &__gallery {
            display: block;
        }
    }
}
