@media (min-width: 1024px) {
  .main-content {
    padding: 0 45px; } }

@media (max-width: 1024px) {
  .header-after__menu .menu__item:not(:last-child) {
    display: none; }
    .header-after__menu .menu__item:not(:last-child) a {
      color: #000000;
      text-decoration: none; }
  .main-content {
    padding: 0 45px; } }

@media (max-width: 1024px) {
  .main-content {
    padding: 0 30px; } }

@media (max-width: 740px) {
  .main-content {
    padding: 0 20px; } }
